html {
  color: #222;
  font-size: 1em;
  line-height: 1.45;
}

:root {
  --sidebar-bg: #5867ea;
  --content-bg: #eeeeee;
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
  --content-color: #222;
}

/* ============== global ===============*/
.body {
  background-color: #ccc;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
}

/* ============== page ===============*/
.cv {
  display: grid;
  grid-template-areas: 'sidebar content';
  background-color: #fff;
  padding: 10px;
}

/* ============== sidebar ===============*/

.cv__sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
  color: #fff;
}

.cv__sidebar a {
  color: inherit;
  text-decoration: none;
}

.avatar, .information {
  width: 80%;
  margin: 1rem auto;
}

.avatar__img {
  border-radius: 50%;
  width: 100%;
}

.information__item > i {
  margin-right: 6px;
}

.information__item {
  transition: 0.4s;
}

.information__item a:hover {
  color: var(--content-color);
}

/* ============== skills ===============*/

.technologies {
  grid-area: technologies;
}

.graph__squares {
  grid-area: squares;
}

.skills__graph {
  display: inline-grid;
  grid-template-areas: "technologies squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  background-color: var(--content-bg);
  color: var(--content-color);
}

.skills__graph ul {
  padding: 4px;
}

.skills__graph li {
  list-style: none;
  transition: 0.5s;
}

/*.technologies,*/
/*.squares {*/
/*  display: grid;*/
/*  grid-gap: var(--square-gap);*/
/*  grid-template-rows: repeat(7, var(--square-size));*/
/*}*/
.graph__squares ul {
  display: flex;
}

.graph__squares ul li {
  width: var(--square-size);
  height: var(--square-size);
}

.graph__squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.skills__graph {
  border: 1px #e1e4e8 solid;
}

.graph__squares ul li {
  background-color: #ebedf0;
}

.graph__squares ul li[data-level="0"] {
  background-color: #fff;
}

.graph__squares ul li[data-level="1"] {
  background-color: #c6e48b;
}

.graph__squares ul li[data-level="2"] {
  background-color: #7bc96f;
}

.graph__squares ul li[data-level="3"] {
  background-color: #196127;
}


/* ==============main content ===============*/
.cv__content {
  grid-area: content;
  width: 90%;
  margin: 0 auto;
}

.content__about,
.content__skills,
.content__experience,
.content__education {
  background-color: var(--content-bg);
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 260px;
  transition: 0.6s;
  transform: scale(1);
}

.content__skills {
  display: grid;
  grid-template-areas: 'title title' 'graph other';
  column-gap: 10px;
}

.content__skills .text__additional {
  margin-bottom: 10px;
}

.content__skills .text__list {
  margin: 0;
  padding: 0;

}

.skills__other {
  border: 1px #e1e4e8 solid;
}

.content__skills .list__item {
  list-style: none;
}

.content__title {
  grid-area: title;
}

.skills__graph {
  grid-area: graph;
}

.skills__other {
  grid-area: other;
}

.content__about:hover,
.content__skills:hover,
.content__experience:hover,
.content__education:hover {
  transform: scale(1.03);
}


.content__education {
  margin-bottom: 0;
}

.text__title {
  margin-bottom: 0.2rem;
}

.text__date {
  color: rgba(0, 0, 0, 0.63);
  font-size: 0.9rem;
}

/* ============== @@media ===============*/

@media (max-width: 910px) {
  .content__skills {
    grid-template-areas: 'title' 'graph' 'other';
  }
}
@media (max-width: 590px) {

  :root {
    --square-size: 10px;
  }

  .content__skills {
    line-height: 1.15;
  }

  .cv {
    grid-template-areas: 'sidebar' 'content';
  }
}

@media (max-width: 400px) {
  :root {
    --square-size: 9px;
  }

  .content__skills {
    line-height: 1;
  }
}
